h1 {
    text-align: center;
    margin-top: 10%;
}

form {
    display: flex;
    justify-content: center;
}

.eq {
    display: block;
    font-size: 40px;
    line-height: 40px;
    margin: 0 10px;
}
.wrap {
    display: flex;
    flex-direction: column;
}