.grid {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 0;
}

.black {
    background-color: black;
}

.white {
    background-color: #fff;
}

.centered {
    line-height: 70px;
    text-align: center;
}

body {
    display: flex;
    align-content: space-between;
}

.catalog {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    .catItem {
        border-left: 1px solid black;
        padding-left: 10px;
    }
}

.cart {
    display: grid;
    .cartHeader {
        text-align: end;
        font-weight: bold;
    }
    .cartItem {
        display: flex;
        justify-content: space-between;
    }
}